<template id="auth-background-template">
  <div class="light-blue-circle"></div>
  <div class="blur yellow-circle"></div>
  <div class="blur top-purple-circle"></div>
  <div class="blur blue-circle"></div>
  <div class="light-yellow-circle"></div>

  <div class="bounce-arrow">
    <svg
      width="60"
      height="60"
      viewBox="0 0 60 60"
      color="#34d399"
      style="opacity: 0.7"
    >
      <path
        d="M10 30 L50 10 L40 50 L30 35 L10 30 Z"
        fill="#34d399"
        stroke="white"
        stroke-width="2"
      ></path>
    </svg>
  </div>

  <div class="triangle">
    <svg
      width="40"
      height="40"
      viewBox="0 0 40 40"
      color="#a5b4fc"
      style="opacity: 0.6"
    >
      <polygon
        points="20,5 30,35 10,35"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
      ></polygon>
    </svg>
  </div>
  
</template>
