[data-modifier="auth"] {
  position: relative;
  width: 100%;
  max-width: 100rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce-arrow {
  position: absolute;
  top: 5rem;
  right: 25rem;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-8px);
  }
}

.triangle {
  position: absolute;
  right: 25rem;
}

.blur {
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  animation: fading 2.2s infinite;
  filter: blur(20px);
  animation-delay: 1s;
  opacity: 0.2;
}

.light-blue-circle {
  position: absolute;
  top: 8rem;
  left: 4rem;
  width: 3rem;
  height: 3rem;
  border: 4px solid #bfdbfe;
  border-radius: 9999px;
  opacity: 0.4;
}

.top-purple-circle {
  left: 5rem;
  top: 22rem;
  background: linear-gradient(to bottom right, #818cf8, #6366f1);
  border-radius: 9999px;
}

.blue-circle {
  background-color: rgb(183, 207, 245);
  left: 8rem;
  bottom: 8rem;
  background: linear-gradient(to bottom right, #60a5fa, #3b82f6);
  border-radius: 100%;
}

.yellow-circle {
  right: 5rem;
  top: 4rem;
  background: linear-gradient(to bottom right, #facc15, #ffd24d);
}

@keyframes fading {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
}

.light-yellow-circle {
  position: absolute;
  bottom: 12rem;
  right: 6rem;
  width: 4rem;
  height: 4rem;
  border: 4px solid #fef08a;
  border-radius: 9999px;
  opacity: 0.4;
}

@media screen and (max-width: 480px) {
  .blur,
  .light-blue-circle,
  .light-yellow-circle {
    display: none;
  }
}
