* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #f8f9fa;
  line-height: 1.5;
  font-size: 1em;
}

body {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
